{{!-- CREATE A NEW POST --}}
<div class="form-div">
  <h1>Create a New Post</h1>
  <form>
    <div class="form-div-input">
      <label for="post-title">Title:</label>
      <input type="text" name="post-title" id="post-title"  />
    </div>
    <div class="form-div-input edit-post">
      <label for="post-content">Post:</label>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <div class="form-div-button">
      <button type="submit" class="new-post-button">Create</button>
    </div>
  </form>
</div>


<script src="./js/newPost.js"></script>