<div class="form-div">
  <h1>Signup</h1>
  <form>
    <div class="form-div-input">
      <label for="first-name-signup">First Name:</label>
      <input class="form-input" type="text" id="first-name-signup" />
    </div>
    <div class="form-div-input">
      <label for="last-name-signup">Last Name:</label>
      <input class="form-input" type="text" id="last-name-signup" />
    </div>
    <div class="form-div-input">
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" required/>
    </div>
    <div class="form-div-input">
      <label for="email-signup">Email:</label>
      <input class="form-input" type="text" id="email-signup" required/>
    </div>
    <div class="form-div-input">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" required/>
    </div>
    <div class="form-div-button">
      <button class="form-signup-button" type="submit">Signup</button>
    </div>
  </form>
  <p>Already a user? <a href="./login">Login Here</a> </p>
</div>

<script src="./js/signup.js"></script>