{{!-- DISPLAY POST --}}
<div class="form-div">
  <h1>Edit Post:</h1>
  <form>
    <div class="form-div-input">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" value="{{post.title}}"/>
    </div>
    <div class="form-div-input edit-post">
      <label for="post-content">Post:</label>
      <textarea id="post-content" name="post-content">{{{restore_content post.post}}}</textarea>
    </div>
    <input type="hidden" id="post-id" value="{{post.id}}">
    <div class="form-div-button">
      <button type="submit" class="update-post-button">Update</button>
      <button type="submit" class="delete-post-button">Delete</button>
    </div>
  </form>
</div>

<script src="/js/updatePost.js"></script>
<script src="/js/deletePost.js"></script>