.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}
  .form-div h1 {
    margin: 0;
    margin-bottom: 30px;
  }
  .form-div form {
    margin-bottom: 30px;
  }
    .form-div-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 300px;
    }
     .form-div-input input {
      padding: 5px;
     }
     .edit-post {
      width: 800px;
     }
      .edit-post textarea {
        padding: 5px;
        min-height: 400px;
        margin-bottom: 10px;
      }
    .form-div-button {
      display: flex;
      justify-content: center;
    }
      .form-div-button button {
        margin: 15px;
      }
  .form-div a {
    text-decoration: underline;
  }